.contenedor {
    display: flex;        /*Se establece el display flex, se pone en modo columna y se ajustan los tamagnos */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 20px;
    margin-bottom: 10vh;
  }
  
  .contenedor img {
    max-width: 100%;
    max-height: 100%;
  }